.layout-root {
  @include mq($from: mobile) {
    height: 100vh;
    display: flex;
    align-items: stretch;

    .menu {
      flex: 0 0 15rem;
    }

    .page {
      overflow-y: auto;
      width: 100%;
    }

    .content {
      max-width: 38rem;
    }
  }
}
