@import 'mixins/colours';
@import 'mixins/text';

.menu {
  background-color: $dark-colour;
  color: $light-colour;
  border-bottom: solid 3px $highlight-colour;
  padding: 6px;

  .burger {
    svg {
      width: 1.2rem;
      height: 1.2rem;
      fill: $light-colour;
      display: inline-block;
      vertical-align: middle;
    }

    cursor: pointer;
    margin-left: 4px;
    margin-right: 8px;
  }

  .title {
    @include text-largest;

    font-weight: bold;
    vertical-align: middle;
  }

  a {
    color: $light-colour;
    text-decoration: none;
  }

  .photo,
  .toggle,
  nav {
    display: none;
  }

  .toggle:checked ~ nav {
    display: block;
  }

  nav ul {
    @include text-large;

    margin: 0;
    margin-top: 12px;
    padding-left: 12px;
    list-style: none;

    li {
      margin-bottom: 12px;
    }
  }
}
