@import 'mixins/colours';
@import 'mixins/text';

.menu {
  background-color: $dark-background-colour;
  color: $light-text-colour;
  border-bottom: solid 3px $highlight-colour;
  padding: 6px;

  .title {
    @include text-large;
  }

  a {
    color: $light-text-colour;
    text-decoration: none;
  }

  img,
  nav {
    display: none;
  }
}
