@import 'mixins/colours';
@import 'mixins/typography';
@import 'mixins/icons';

html {
  font-size: ms(0);
  line-height: 1.5;
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  color: $dark-colour;
  background-color: $light-colour;
}

body {
  margin: 0;
}

@for $h from 1 through 6 {
  h#{$h} { @include heading($h); }
}

a {
  color: $link-colour;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

blockquote {
  position: relative;
  background-color: $block-background-colour;
  margin: 1rem 0.5rem;
  padding: 1rem;

  :first-child {
    margin-top: 0;
  }

  :last-child {
    margin-bottom: 0;
  }

  &::before {
    $quote-size: ms(6);

    position: absolute;
    top: -1rem;
    right: -0.5rem;
    width: $quote-size;
    height: $quote-size;
    content: '';
    background: icon-svg('quote-right', $highlight-colour);
    background-size: $quote-size $quote-size;
  }
}
