@import 'mixins/colours';
@import 'mixins/typography';

html {
  font-size: ms(0);
  line-height: 1.25;
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
  color: $dark-colour;
  background-color: $light-colour;
}

body {
  margin: 0;
}

@for $h from 1 through 6 {
  h#{$h} { @include heading($h); }
}
