@import 'mixins/colours';
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

pre {
  code {
    font-family: 'Source Code Pro', monospace;
    line-height: 1;
    color: $light-colour;
  }

  border-top: 3px $highlight-colour solid;
  border-bottom: 3px $highlight-colour solid;
  background-color: $dark-colour;
  padding: 1rem;
  overflow-x: auto;

  // Pygments classes definitions
  // https://bitbucket.org/birkenfeld/pygments-main/src/7941677dc77d4f2bf0bbd6140ade85a9454b8b80/pygments/token.py?at=default&fileviewer=file-view-default#token.py-124

  // comments
  [class^=c] { color: $gray; }

  // keywords
  [class^=k] { color: $pink; }

  // function names
  .nf,
  .fm {
    color: $blue;
  }

  // classes & constants
  .nc,
  .no {
    color: $yellow;
  }

  // strings
  [class^=s] { color: $green; }
}
