$pink: #fc97fc;
$blue: #91a6ff;
$yellow: #faff7f;
$green: #99edcc;
$red: #ff5154;
$black: #333;
$white: #fff;
$gray: #ccc;
$light-gray: #f0f0f0;

$light-colour: $white;
$dark-colour: $black;
$highlight-colour: $pink;
$disabled-colour: $gray;
