$base-text-size: 1rem;
$text-size-inc: 1rem;
$line-height-extra: 0.2rem;

@mixin _text-size($size) {
  font-size: $size;
  line-height: $size + $line-height-extra;
}

@mixin text-normal {
  @include _text-size($base-text-size);
}

@mixin text-large {
  @include _text-size($text-size-inc + $base-text-size);
}

@mixin text-larger {
  @include _text-size((2 * $text-size-inc) + $base-text-size);
}
