@import 'modularscale';

$modularscale: (
  base: 1.25rem,
  ratio: 1.15
);

@mixin heading($level) {
  $size: ms(6 - $level);

  font-weight: bold;
  font-size: $size;
  line-height: 1.1;
  margin: 0;
}
